* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/

.sectionprincipal {
    background-color: #041a63;
    color: #fff;
    width: 100%;
    height: 450px;
    flex-shrink: 0;
}

.headerLogo {
    width: 100%;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-content a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline;
    margin-right: 20px;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.dropbtn {
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #041a63;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #F6A21A;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #F6A21A;
    color: #041a63;
}

.center {
    text-align: right;
}
/*fin del header*/

/*bebiuas*/
.centrado {
    width: 100%;
    text-align: center;
}

.carrucel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.elementos {
    flex: 1 0 auto;
    margin: 0 50px;
    width: 20%;
    height: 500px;
}

.cuerpo {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.conten {
    background: #041A63;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    border-radius: 25px;
    background-size: cover;
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    color: #FFF;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.3px;
}

.input {
    width: 100%;
    height: 20px;
    border-radius: 8px;
    background: #F6A21A;
    flex-shrink: 0;
}

input, textarea {
    padding: 17px 14px;
    background: rgba(246, 162, 26, 0.76);
    border: 0;
    font-size: 15px;
    color: #000;
    margin-bottom: 20px;
    border-radius: 10px;
}

:focus {
    outline: 1px solid #000;
}

.btn {
    background-color: #F6A21A;
    width: 150px;
    align-self: flex-end;
    cursor: pointer;
}

.btn:hover {
    background-color: #fcbf5c;
}

.titulo {
    font-family: 'Mansalva', regular;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;

}

.subtitulos {
    color: #000;
    font-family: 'Jomhuria', regular;
    font-size: 20px;
    font-weight: 400%;
    text-transform: uppercase;
}
/*fin de bebidas*/

/*inicio*/
.container {
    margin: auto;
    width: 100%;
    padding: 10px;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 100%;
    height: 31.25rem;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
}

ul.slider li img {
    width: 90%;
    height: 500px;
    object-fit: fill;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu {
    text-align: center;
    margin: 20px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #F6A21A;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}
/*fin inicio*/

.footer {
    background-color: #041a63;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/*suscripción*/
#tabla-precios {
    display:inline-block;
    width:100%;
    margin-top:50px
   }
   
   /*Columnas*/
   
   .precio-col {
    display:inline-block;
    background-color:#f3f3f3;
    width:100%;
    max-width:500px;
    border-radius:10px;
    margin-bottom:50px;
    box-shadow: 0px 2px 5px #ddd
   }
   

   
   /*suscripcion*/
   
   .precio-col-header {
    background-color:#041a63;
    padding:20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px
   }
   
   .precio-col:nth-child(2) .precio-col-header {
    background-color:#dd9933
   }
   
   .precio-col-header h3 {
    color:#f3f3f3;
    text-align:center;
    font-size:30px;
    font-weight:600;
    margin-bottom:0
   }
   
   .precio-col-header p {
    text-align:center;
    color:#f3f3f3;
    font-size:14px;
    margin-bottom:0
   }
   
   /*Características*/
   
   .precio-col-features {
    padding: 0 20px 20px 20px
   }
   
   .precio-col-features p {
    padding:20px 0;
    margin:0;
    text-align:center;
    border-top:1px solid #ddd
   }
   
   .precio-col-features p:first-child,
   .precio-col-features p:last-child {
    border-top:none
   }
   
   /*Comprar*/
   
   .precio-col-comprar {
    padding:10px;
    max-width:250px;
    text-align:center;
    background-color:#dd9933;
    margin: 0 auto 20px;
    border-radius:10px;
    border: 2px solid #dd9933;
    transition: all 0.3s
   }
   
   .precio-col-comprar a {
    color:#f3f3f3;
    padding:10px;
    font-size:20px;
    text-transform:uppercase;
    transition: all 0.3s
   }
   
   .precio-col-comprar:hover {
    background-color:#f3f3f3;
    transition: all 0.3s
   }
   
   .precio-col-comprar:hover a {
    color:#dd9933;
    transition: all 0.3s
   }
/*fin suscripción*/
/*404*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.error-container {
  text-align: center;
  font-size: 106px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 70px 15px;
}
.error-container > span {
  display: inline-block;
  position: relative;
}
.error-container > span.four {
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background:
    linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
    linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
    linear-gradient(to right, #2949b4, #7d91d4);
}
.error-container > span.four:before,
.error-container > span.four:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
}
.error-container > span.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background:
    linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%),
    linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%),
    linear-gradient(to top, #041a63, #2949b4, #7d91d4, #b5c2ee, #dd9933
    );
}
.error-container > span.four:after {
  width: 137px;
  height: 43px;
  transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: linear-gradient(to right, #041a63, #2949b4, #7d91d4, #b5c2ee, #dd9933);
}

.error-container > span.zero {
  vertical-align: text-top;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%,  transparent 51%, transparent 100%),
    linear-gradient(to top right, #041a63, #2949b4, #7d91d4, #b5c2ee, #dd9933);
  overflow: hidden;
  animation: bgshadow 5s infinite;
}
.error-container > span.zero:before {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background:
    linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%),
    linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
}
.error-container > span.zero:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
    
@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
  }
  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
  }
}
.zoom-area { 
    max-width: 490px;
    margin: 30px auto 30px;
    font-size: 19px;
    text-align: center;
  }
  .link-container {
    text-align: center;
  }
  a.more-link {
    text-transform: uppercase;
    font-size: 13px;
      background-color: #041a63;
      padding: 10px 15px;
      border-radius: 0;
      color: #fff;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;
      line-height: 1.5;
      text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;
  }
  .errorpagina{
    text-align: center;
  margin: 30px 15px;
  }
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Mansalva&display=swap');

@media(max-width:1024px) {
    .sectionprincipal {
        background-color: #041a63;
        color: #fff;
        width: 100%;
        height: 20rem;
        flex-shrink: 0;
    }

    .headerLogo {
        width: 100%;
    }

    .headerLogo a img {
        width: 25rem;
    }

    .container {
        margin: auto;
        width: 100%;
        padding: 10px;
    }

    ul.slider li img {
        width: 100%;
        height: 500px;
        object-fit: contain;
    }

    .centrado {
        width: 100%;
        text-align: center;
        font-size: .7rem;
    }

    .dropbtn {
        color: #fff;
        padding: .3125rem .625rem;
        border: none;
        cursor: pointer;
        text-decoration: none;
        font-size: 1rem;
    }

}
@media(max-width:768px) {
    .sectionprincipal {
        background-color: #041a63;
        color: #fff;
        width: 100%;
        height: 20rem;
        flex-shrink: 0;
    }

    .headerLogo {
        width: 100%;
    }

    .headerLogo a img {
        width: 25rem;
    }

    .container {
        margin: auto;
        width: 90%;
        padding: 10px;
    }

    ul.slider li img {
        width: 100%;
        height: 500px;
        object-fit: contain;
    }

    .centrado {
        width: 100%;
        text-align: center;
        font-size: .7rem;
    }

    .dropbtn {
        color: #fff;
        padding: .3125rem .625rem;
        border: none;
        cursor: pointer;
        text-decoration: none;
        font-size: 1rem;
    }
    .precio-col {
        width:32%;
        float:left;
        margin-right:2%
        }
        
        .precio-col:last-child {
        margin-right:0
        }
       
}
@media(max-width:425px) {
    .sectionprincipal {
        background-color: #041a63;
        color: #fff;
        width: 100%;
        height: 20rem;
        flex-shrink: 0;
    }

    .headerLogo {
        width: 60%;
    }

    .headerLogo a img {
        width: 25rem;
    }

    .container {
        margin: auto;
        width: 100%;
        padding: 10px;
    }

    ul.slider li img {
        width: 100%;
        height: 500px;
        object-fit: contain;
    }

    .centrado {
        width: 100%;
        text-align: center;
        font-size: .7rem;
    }

    .dropbtn {
        color: #fff;
        padding: .3125rem .625rem;
        border: none;
        cursor: pointer;
        text-decoration: none;
        font-size: 1rem;
    }

}
@media(max-width:320px) {
    .sectionprincipal {
        background-color: #041a63;
        color: #fff;
        width: 125%;
        height: 20rem;
        flex-shrink: 0;
    }

    .headerLogo {
        width: 20%;
    }

    .headerLogo a img {
        width: 25rem;
    }

    .container {
        margin: auto;
        width: 100%;
        padding: 10px;
    }

    ul.slider li img {
        width: 125%;
        height: 500px;
        object-fit: contain;
    }

    .centrado {
        width: 100%;
        text-align: center;
        font-size: .7rem;
    }

    .dropbtn {
        color: #fff;
        padding: .3125rem .625rem;
        border: none;
        cursor: pointer;
        text-decoration: none;
        font-size: 1rem;
    }
}